<div  *gcAccessControl="'MGMNT_MANAGEMENT'" class="row">
  <form (ngSubmit)="addOrUpdate()" #studentForm="ngForm" class="marginTop20">
    <div class="row paddingTop20">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="schoolPicDiv shadow">
          <i class="icon-cloud-upload iconUpload" title="Upload Profile Pic" id="iconUpload"></i>
          <img src="assets/images/school.png" class="profileImage" />
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngIf="isEditing">
        <div class="input-group formTextGroup paddedGroup darkText text-center">
          <span class="textLabelMain">Name</span>
          <span class="input-group-addon" id="basic-addon1">
            <i class="icon-key" title="Name"></i>
          </span>
          <input [(ngModel)]="school_management.name" type="text" name="name" required #name="ngModel" class="formTextControl" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngIf="!isEditing">
        <div class="input-group formLabelGroup paddedGroup darkText text-center">
          <span class="textLabelMain">Name</span>
          <span class="input-group-addon" id="basic-addon1">
            <i class="icon-key" title="Name"></i>
          </span>
          <h5>{{school_management.name}}</h5>
        </div>
      </div>
    </div>
    <div class="row paddedRowSide">
      <button type="submit" class="formButton pull-right" *ngIf="isEditing">Save</button>
      <span *gcAccessControl="'MGMNT_MANAGEMENT_EDIT'" >
        <button type="button" class="formButton pull-right" *ngIf="!isEditing" (click)="isEditing = true">Edit</button>
      </span>
    </div>
  </form>
</div>
