.studentListLogo{
    margin-top: 5px;
    padding: 5px;
        height: 50px;
    width: 50px;
    border-radius: 50%;
    border:1px solid  #eee;
    text-align: center;
        float: left;
}

.studentListListDiv{
    height: 90px;
        overflow: hidden;
    padding: 15px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
}

.studentListDetail{
    margin-bottom: 0 !important;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #aaa;
}

.studentListDetailSmall{
    margin-right: 20px;
    margin-bottom: 0 !important;
}

.studentListDetail.bold{
    font-weight: 400 !important;
}

.studentListDetailSmall{
     font-size: 12px;
    font-weight: 400 !important;
    color: #707070;
}

.studentListDetailInput{
margin-left: 10px;
}

.detailsContainer{
    position: relative;
           width: 100%;
}

.noMarginBottom{
    margin-bottom: 0 !important;
}

.studentListEdit{
    cursor: pointer;
position: absolute;
    z-index: 20000;
top: 5px;
right: 25px;
}

.studentListInfo{
    cursor: pointer;
          z-index: 20000;
position: absolute;
top: 5px;
right: 45px;
}

.studentListEdit i,.studentListInfo i{
    color: #3ED783 ;
    cursor: pointer;
}

.addNew{
    position: absolute;
    bottom: auto;
    right: 65px;
}

.addNew i{
    color: #3ED783 ;
    cursor: pointer;
    font-size: 24px;
}

.rowMain{
        position: relative;
}

.maxHeight80{
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.shadowSmall{
box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 25px -8px rgba(57,70,78,.25);
}

.padding15{
    padding: 15px;
}

.studentListDetail i{
        font-size: 12px;
    margin-left: 5px;
    font-weight: 200;
}

.height40Minus{
    height: calc(100% - 40px);
}


.hiddenPanel{
        height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none !important;
}

.studentListInfo:hover ~ .detailsContainer .hiddenPanel{
    display: inline-block !important;
}

.classItem{
    padding: 2px 10px;
    border: 1px solid #3ED783;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 4px;
}
