.class-div{
  text-align: center;
  display: inline-block;
  min-width:65px;
  padding: 2px 10px;
  border: 1px solid #3ED783;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

select {
  min-width: 160px;
}

select.status{
  color: green;
}

.class-div.active{
  background-color: #3ED783;
  color: #fff;
}

.search-box{
  position: relative;
  padding: 10px;
  box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-container{

}

.search-container i.fa-filter{
  height: 100%;
    float: left;
    font-size: 20px;
    margin-right: 3px;
    margin-top: 8px;
    color: #aaa;
}

.clear-button{
  color: red;
    font-size: 32px;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
