
.fa.icon-white {
    color: white;
}

.fa.check-green {
    color: green;
}

.fa.icon-grey {
    color: grey;
}

i {
  margin: 0 8px;
}

.filename-container {
  margin: 20px 20px 0 0;
}

 input.masked,
 .shell span {
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase; }

.filename {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  background-color: #ccc;
  border: 1px solid white;
  border-radius: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  font-family: 'verdana', sans-serif;
}

.hide {
  display: none;
}

.iconDiv{
   position:absolute;
}

.padded30{
    padding: 10px 30px;
}

.profilePicDiv{
    background-color:#caeef5;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    border-radius: 4px;
    position: relative;
    border: 1px solid #67d9ef;
}

.rightEditButton{
   padding-right:20px;
}

.profileImage{
    height: 198px;
    width: 198px;
    text-align: center;
    float: center;
}

a.disabled {
    color: Black;
    cursor: not-allowed;
}
.warning{
  padding-top:30px;
  padding-bottom:50px;
}


.padded-div{
    padding: 20px 10px;
}

.formTextGroup{
    margin-left:5px !important;
    margin-right:5px !important;
}
