<div class="container-fluid content-margin">
  <div class="row height100 paddedRow">
    <div class="boxedDiv shadow">
      <!-- <div class="header">
        <h4>Manage Fees</h4>
      </div> -->
      <!-- <div class="row">
        <ul class="nav nav-tabs nav-justified">
          <li *gcAccessControl="'FEE_BILLS'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['fee-bill']">Fee Bills</a>
          </li>
          <li *gcAccessControl="'FEE_REPORTS'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['fee-report']">Fee Reports</a>
          </li>
        </ul>
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
