<div class="container-fluid content-margin">
  <div class="row height100 paddedRow">
    <div class="boxedDiv shadow">
      <!-- <div class="row">
        <ul class="nav nav-tabs nav-justified">
          <li *gcAccessControl="'USER_LIST'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['list']">Users</a>
          </li>
          <li *gcAccessControl="'USER_LIST'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['user_role']">User Roles</a>
          </li>
        </ul>
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
