
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700); */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import "~bootstrap/dist/css/bootstrap.css";
/*@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';*/
body {
    font-family: 'Roboto', Tahoma, Arial !important;
    /*background-color: #e5e9ec;*/
}

.modal-lgg {
    width: 98% !important;
}

.padding_none {
    padding: 0 !important;
}

html, body, #wrapper {
    height: 100%;
}

label, h1, h2, h3, h4, h5, h6 {
    color: #505458;
    font-weight: 300 !important;
    display: inline-block;
}

.row {
    padding-left: 15px;
}

input[type="text"] {
    padding: 6px 12px;
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    outline: none;
}

.btnSmall {
    width: 90px;
}

.btn.btn-outline.grey {
    border-color: #aaa;
    color: #aaa;
    background: 0 0;
}

.btnRound {
    border-radius: 25px !important;
    overflow: hidden;
}

.btn {
    outline: 0 !important;
}

.navbar-default {
    background-color: #fff;
}

.navbar-header, .navbar-brand, .navbar-header:hover, .navbar-brand:hover {
    color: #aaa;
}





.navbar-top-links {
    margin-right: 0;
}

    .navbar-top-links li {
        display: inline-block;
    }

        .navbar-top-links li:last-child {
            margin-right: 15px;
        }

        .navbar-top-links li a {
            padding: 15px;
            min-height: 50px;
        }

    .navbar-top-links .dropdown-menu li {
        display: block;
    }

        .navbar-top-links .dropdown-menu li:last-child {
            margin-right: 0;
        }

        .navbar-top-links .dropdown-menu li a {
            padding: 3px 20px;
            min-height: 0;
        }

            .navbar-top-links .dropdown-menu li a div {
                white-space: normal;
            }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        width: 310px;
        min-width: 0;
    }

    .navbar-top-links .dropdown-messages {
        margin-left: 5px;
    }

    .navbar-top-links .dropdown-tasks {
        margin-left: -59px;
    }

    .navbar-top-links .dropdown-alerts {
        margin-left: -123px;
    }

    .navbar-top-links .dropdown-user {
        right: 0;
        left: auto;
    }

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    background-color: #333;
}



#side-menu li a {
    color: #d6d6d6;
    font-weight: 300;
}

    #side-menu li a.paddingBig {
        padding: 20px 15px;
    }

    #side-menu li a:hover, #side-menu li a:focus {
        background-color: #454545;
    }


    #side-menu li a span {
        display: block;
    }

    #side-menu li a i {
        font-size: 24px;
    }

#side-menu li.active a i {
    color: #f04848;
}

.navbar{
	width:100%;
	position:fixed;
}

@media (min-width: 992px) {
    .sub-menu {
        position: fixed;
        top: 0;
        left: 195px;
        display: none;
    }


        #side-menu li a:hover ~ .sub-menu, #side-menu li a:focus ~ .sub-menu, .sub-menu:hover {
            display: inline-block;
        }
}

.sub-menu {
    list-style: none;
    padding: 0;
    width: 130px;
    background-color: #333;
}

    .sub-menu li {
        padding: 10px 5px;
    }

        .sub-menu li:hover {
            background-color: #454545;
        }

        .sub-menu li a {
            text-decoration: none;
        }


.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 0;
}

    .sidebar ul li a.active {
        background-color: #eeeeee;
    }

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

    .sidebar .nav-second-level li a {
        padding-left: 37px;
    }

    .sidebar .nav-third-level li a {
        padding-left: 52px;
    }

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 195px;
        margin-top: 50px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

#wrapper {
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

    #wrapper .content {
        padding: 5px 25px;
        padding-top: 55px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

        #wrapper.toggled #sideBar {
            left: -300px;
            opacity: 0;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }


#page-wrapper {
    padding: 0 15px;
	padding-top:50px;
    min-height: 568px;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        padding: 0 30px;
        /* border-left: 1px solid #e7e7e7; */
    }
}

#sideBar {
    margin-top: 50px;
    width: 195px;
    position: fixed;
    opacity: .99;
    left: 0;
    background: #454545;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.main-nav {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin-bottom: 0;
}

    .main-nav li {
        line-height: 40px;
        padding: 0 15px;
        border-bottom: 1px solid #585858;
    }

        .main-nav li.active {
            background-color: #333;
        }

        .main-nav li.main-search {
            border: none;
            box-shadow: none;
        }

            .main-nav li.main-search .search-input.form-control {
                border-radius: 0;
                background: #444;
                border: none;
                color: #fff;
                font-size: 12px;
                font-weight: normal;
            }

            .main-nav li.main-search i {
                float: right;
                margin-top: -25px;
                margin-right: 15px;
                color: #999;
            }

        .main-nav li.nav-brand {
            height: 80px;
            line-height: 80px;
            font-size: 18px;
            border: none;
            box-shadow: none;
        }

        .main-nav li a {
            color: #fff;
            display: block;
            font-weight: normal;
            text-decoration: none;
        }

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
        padding: 13px 15px !important;
    }
}

@media (min-width:320px) and (max-width: 1068px) {
    .databaseText label {
        font-size: 18px;
    }
}

@media (min-width:1068px) and (max-width: 1268px) {
    .databaseText label {
        font-size: 22px;
    }
}

@media (max-width: 768px) {

    #wrapper {
        padding-left: 0;
    }

        #wrapper.toggled {
            padding-left: 250px;
        }

            #wrapper.toggled #sideBar {
                left: 0;
                opacity: 1;
            }

    #sideBar {
        left: -300px;
    }
}

.container > .navbar-header, .container-fluid > .navbar-header {
    background-color: #EF3F3F;
    width: 195px;
}

.expandIcon {
    margin-top: 15px;
    cursor: pointer;
}

    .expandIcon i {
        color: #fff;
        font-size: 18px;
        margin-right: 15px;
        float: right;
    }

.nopaddingLeft {
    padding-left: 0;
}

.navbar-inverse .navbar-brand, .navbar-default .navbar-brand {
    color: #aaa;
    font-weight: 300;
}

.navbar-inverse, .navbar-default {
    border: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
}



/*ul.tileOptionsUL {
    width: 100%;
    height: 20px;
    text-align: center;
    margin-left: 13%;
}

.tileOptionsUL li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 10px;
    border: 1px solid #aaa;
    width: 150px;
    height: 150px;
    padding: 10px 10px;
}

    .tileOptionsUL li.active {
        border: 2px solid #428bca;
    }

    .tileOptionsUL li a {
        background-color: transparent !important;
        height: 100%;
        color: #909090;
        font-size: 16px;
        font-weight: 300;
    }

.nav-pills.tileOptionsUL > li.active > a, .nav-pills.tileOptionsUL > li.active > a:hover, .nav-pills.tileOptionsUL > li.active > a:focus {
    color: #404040;
}

.tileOptionsUL li.active a i {
    color: #428bca;
}

.tileOptionsUL li a i {
    font-size: 82px;
    color: #aaa;
}*/

.tileOptionsUL li a i {
    margin-right: 5px;
}

.nav-tabs > li a, .nav-pills > li a {
    font-size: 18px;
    color: #2aa1c0;
    font-weight: 300;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
}

.tab-content {
    padding: 20px 20px;
}

#dynamicContainers {
    padding-top: 25px;
}

.dynamicTileContainer {
    padding: 10px 0;
}

.dynamicTile {
    background-color: #fff;
    margin-right: 20px;
}

.divider {
    height: 1px;
    background-color: #ccc;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tileContent {
    height: 350px;
    padding: 0 20px;
}

.dynamicTile .tileInfo {
    padding: 10px 15px 5px;
}

    .dynamicTile .tileInfo h3 {
        padding-top: 0;
        margin-top: 0;
    }


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px;
}

.tileInfoDiv {
    margin-bottom: 30px;
}

    .tileInfoDiv input {
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
    }
.shadowBox{
  -webkit-box-shadow: -1px 14px 51px 0px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 14px 51px 0px rgba(0,0,0,0.31);
box-shadow: -1px 14px 51px 0px rgba(0,0,0,0.31);
border-radius: 4px;
}

.overflowHide{
    overflow: hidden;
}
.block{
    display: block;
}

.weight400{
    font-weight: 400 !important;
}
/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
    .content-margin {
        margin-left: 5px !important;
        position: fixed !important;
        height: calc(100% - 50px) !important;
        width: calc(83.333% + 50px);
    }
}

@media (max-width: 1200px) {
    .content-margin {
        margin-left: 5px !important;
        position: fixed !important;
        height: calc(100% - 90px) !important;
        overflow-y: scroll; 
        width: 100%;
    }
    .container-fluid {
        padding-right: 30px !important;
    }
}

.height-minus10-scroll{
    overflow-x: hidden !important;
    height: calc(100% - 10px);
}

.required:before {
    content: "*";
    position: absolute;
    padding-top: 3px;
    margin-left: 4px;
    color: red;
}
