.studnt-dashboard-item{
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.profilePicDiv{
    background-color:#caeef5;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    border-radius: 4px;
    position: relative;
    border: 1px solid #67d9ef;
}

.labels{
  color: RED;
}

.profileImg{
  max-height: 100%;
  max-width: 100%;
    padding: 5px;
    border-radius: 50%;
    border:1px solid  #eee;
    text-align: center;
}
 .padding{
   padding: 10px;
 }

 .warning{
   background-color: #c00 !important;
 }
